p, td, th, ul, ol, li {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
}

h2 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 20px;
	color : #000000;
}

h3 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color : #000000;
}

h4 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
	color : #000000;
	margin-bottom : 0 px;
}

A.titlelink {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color: Blue;
	text-decoration : underline;
}

A.titlelink:hover {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color: Blue;
	text-decoration : underline;	
}

A.titlelink:active {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color: Blue;
	text-decoration : underline;	
}

a {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
	color : #0033cc;
}

.a1 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 12px;
	color : #0033cc;
}

.greek
{
	font-family : Symbol;
	font-size : 16px;
}

.banner
{
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : medium;
}

.white
{
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 12px;
	color : #ffffff;
}

.smaller {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
}

.sponsors {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 13px;
}

.obj {
	font-weight : bold;
	font-size : smaller;
}

.cont {
	background-color : Silver;
	font-size : smaller;
}

.out {
	font-weight : lighter;
	font-size : smaller;
}

.plan {
	font-size : larger;
	font-weight : bolder;
	color : Navy;
	text-align : center;
}

.cont2 {
	background-color : #9CF;
	font-size : smaller;
}

.small {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : smaller;
	font-weight : normal;
}

.white {
	color: #FFF;
	font-weight : bold;
	font-size : 16px;
}
.red
{
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
	color : #ff0000;
}
