/* CCPLANET Styles */

p, td, th, ul, ol, li {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
}

h2 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 20px;
	color : #000000;
}

h3 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color : #000000;
}

h4 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
	color : #000000;
	margin-bottom : 0 px;
}

A.titlelink {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color: Blue;
	text-decoration : underline;
}

A.titlelink:hover {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color: Blue;
	text-decoration : underline;	
}

A.titlelink:active {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 18px;
	color: Blue;
	text-decoration : underline;	
}

a {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
	color : #0033cc;
}

.a1 {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 12px;
	color : #0033cc;
}

.greek
{
	font-family : Symbol;
	font-size : 16px;
}

.banner
{
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : medium;
}

.white
{
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 12px;
	color : #ffffff;
}

.smaller {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
}

.sponsors {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 13px;
}

.link-disclaimer {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 11px;
}

.obj {
	font-weight : bold;
	font-size : smaller;
}

.cont {
	background-color : Silver;
	font-size : smaller;
}

.out {
	font-weight : lighter;
	font-size : smaller;
}

.plan {
	font-size : larger;
	font-weight : bolder;
	color : Navy;
	text-align : center;
}

.cont2 {
	background-color : #9CF;
	font-size : smaller;
}

.small {
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : smaller;
	font-weight : normal;
}

.small12 {
	font-size: 12px;
}

.tight {
 margin-top: -1em;
}

.white {
	color: #FFF;
	font-weight : bold;
	font-size : 16px;
}
.red
{
	font-family : Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size : 16px;
	color : #ff0000;
}

#breadcrumbs {
	border-top: 1px solid #999;
	padding-left: 10px;
	font-size: 11px;
	color: #666;
}

#breadcrumbs a {
	color: #666;
	font-size: 11px;
}

#breadcrumbs a:hover {
	color: #004da2;
}

table.border {
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}

table.border td {
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}

.seminar-list {
	border-bottom: 1px solid #9a171d;
	margin-bottom: 0px;
}

.seminar-list a {
	color: #9a171d;
	text-decoration: none;
}

.seminar-list a:HOVER {
	color: #0033cc;
	text-decoration: none;
}

/* =Sharing Box
---------------------------------------- */

.box { /* creates sharing box */
	position: absolute;
	top: 125px;
	right: 25px;
	width:200px;
	font-size: .9em;
	color: #333;

}

.box a {
	color: #013e74;
}

.box a:HOVER {
	color: #2b9741;
}

#sharing {
	border: 1px solid #999;
	font-size: 12px;
}

#sharing a{
	font-size: 10px;
}
